body{
	margin: 0;
	padding: 0;
	color: #d7d6d7;
	font: normal 1.4em 'Open Sans', sans-serif;
	width:100%;
	height:100%;
	background: #dfdfdf url('../images/bg.jpg') repeat-x 0 top;
}

.header {
	width: 100%;
	height: 182px;
	margin: 0 auto;
	position: fixed;
	z-index: 50;
	background: url('../images/header.png') repeat-x;
	top: 0;
	left: 0;
}

.logo {
}

.logo img{
	width:288px;
	height:auto;
}

#wrapper{
	margin: 0 auto;
	background: url('../images/wrapper.png') center;
	/*background-size:contain; */
	margin-top:130px;
	/*
	padding-left:50px;
	padding-right:50px;
	*/
}

.menu{
	background: url('../images/menu.png') no-repeat center top;
	width:531px;
}

.ancla {
	width: 100%;
	background: url('../images/ancla-bg.jpg') no-repeat;
	background-position:center;
	height: 40px;
}

.ancla-top a {
	display:none;
	height: 40px;
	float: right;
	background: url('../images/ancla-flecha.png') no-repeat center top;
	width: 40px;	
}

.footer {
	background-image: url('../images/footer.png');
	/*url('../images/wrapper.png'); */
	background-position: center;
	min-height:213px;
}

.pattern {
	margin-top:30px;
	margin-left: auto;
	margin-right: auto;
}

.pattern ul {
	padding:0; margin:0;
}

.pattern li{
	list-style-type:none;
	background-color:rgba(0,0,0,0.6);
	padding:8px;
	float:left;
	margin:8px;
	border-radius:6px;
}

.pattern img{
	width:100px;
	height:100px;
}

.row {
	margin-right:0px !important;
}

.modal-product{
	text-align:center;
}

.modal-product .modal-body, .modal-product .modal-header{
	text-align:left;
}

.modal-product .modal-content{
	margin-top:-30px;
	z-index:-1;
	background-color:#222;
}

.modal-product .close{
	color:#fff;
}

.volo {
	margin-top: -120px;
	margin-left: 30%;
}

.volo img{
	width:80px;
}


@media (max-width: 520px) {
  .volo {
    display: none;
  }
}

@media (min-width: 700px) {
	.pattern {
		width:70%;
	}
}

.footer-icons ul{
	margin:0px; padding:0px;
}

.footer-icons li {
	margin:0px;
	padding:0px;
	list-style-type:none;
	float:left;
}

.footer-icons img {
	width:30px;
	height:30px;
	margin: 4px;
}

.about-text {
	height: 50px;
}
